@page "/Programs/Edit/{Id:int}"
@inject HttpClient Http
@inject DialogService DialogService
@inject NotificationService NotificationService

<div class="rz-m-12">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/Programs" Text="Programs" />
        <RadzenBreadCrumbItem Style="color:darkseagreen" Text="Edit" />
    </RadzenBreadCrumb>
</div>

@if (Program == null)
{
    <RadzenRow>
        <RadzenColumn>

            <RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
        </RadzenColumn>
    </RadzenRow>
}
else
{
    <RadzenRow Style="margin-bottom:10px">
            <RadzenColumn>
                <RadzenButton Style="float:right;" ButtonStyle="ButtonStyle.Success" Click=@(async() => await Save())>Save</RadzenButton>
            </RadzenColumn>
    </RadzenRow>
    <RadzenRow Style="margin-bottom:10px">
        <RadzenColumn>
            <RadzenCard>
                <RadzenRow>
                    <RadzenColumn Size="6">

                        <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H3">Name</RadzenText>
                        <RadzenTextBox @bind-Value="Program.Name" class="w-100" />

                    </RadzenColumn>
                    <RadzenColumn Size="6">

                        <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H3">Description</RadzenText>
                        <RadzenTextArea @bind-Value="Program.Description" class="w-100" />

                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
            
        </RadzenColumn>
    </RadzenRow>
    <Calendar Program=@Program />
}


@code {
    [Parameter] 
    public int Id { get; set; }
    public TrainingProgram Program { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Program = await Http.GetFromJsonAsync<TrainingProgram>($"api/Trainingprograms/{Id}");
            StateHasChanged();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private async Task Save()
    {
        var response = await Http.PutAsJsonAsync($"api/Trainingprograms/{Program.Id}", Program);
        if (response.IsSuccessStatusCode)
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Program changes saved", Detail = "", Duration = 5000 });
        }
        else
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error saving changes", Detail = response.ReasonPhrase, Duration = 5000 });
        }
    }
}
