@page "/WorkoutExercises/Create/{DayId:int}"
@inject HttpClient Http
@inject DialogService DialogService
@inject NavigationManager NavManager
@inject NotificationService NotificationService

<div class="rz-m-12">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Text="Programs" />
        <RadzenBreadCrumbItem Text="Edit Program" />
        <RadzenBreadCrumbItem Path="@dayCrumb" Text="Edit Day" />
        <RadzenBreadCrumbItem Style="color:darkseagreen" Text="Create WorkoutExercise" />
    </RadzenBreadCrumb>
</div>

<h4>Edit Workout Exercise</h4>



@if(workoutExercise != null)
{
    <RadzenRow>
        <RadzenColumn>
            <RadzenText>Day Id: @DayId</RadzenText>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow>
        <RadzenColumn>
            <RadzenDropDown TValue="int" @bind-Value="workoutExercise.ExerciseId" Data="@exercises" TextProperty="Name" ValueProperty="Id" />
        </RadzenColumn>
    </RadzenRow>

    <RadzenButton Click="() => AddSet()">Add Set</RadzenButton>

    <RadzenText>Sets:</RadzenText>
    <ul>                  
        @if (sets != null)
        {
            @foreach (var set in sets)
            {
                <li>
                    <p>Set Weight: @set.Weight</p>
                </li>
            }
        }

    </ul>

    <RadzenButton Click=@Save >Create</RadzenButton>
}
else
{
    <p>Workout Exercise not found.</p>
}

@code {
    [Parameter]
    public int DayId { get; set; }
    private WorkoutExercise workoutExercise = new WorkoutExercise();
    private bool showPopup = false;
    private List<Set> sets = new List<Set>();
    private List<Exercise> exercises = new List<Exercise>();

    string dayCrumb = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            dayCrumb = $"/Days/Edit/{DayId}";
            exercises = await Http.GetFromJsonAsync<List<Exercise>>($"api/Exercises");
            StateHasChanged();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private async Task AddSet()     
    {
        var set = await DialogService.OpenAsync<ProgramPro.Client.Pages.Set.Create>($"Add Set",
            new Dictionary<string, object>() { /* { "WorkoutExerciseId", Id } */ },
            new DialogOptions() { Width = "700px", Height = "512px", Resizable = true, Draggable = true });
        if((Set)set != default)
        {   
            sets.Add((Set)set);
            StateHasChanged();
        }
    }

    private async Task Save()
    {
        workoutExercise.DayId = DayId;
        var result = await Http.PostAsJsonAsync("api/WorkoutExercises", workoutExercise);
        if (result.IsSuccessStatusCode)
        {
            if(sets.Count > 0)
            {
                var workoutExercise = await result.Content.ReadFromJsonAsync<WorkoutExercise>();
                for (int i = 0; i < sets.Count; i++)
                {
                    sets[i].WorkoutExerciseId = workoutExercise.Id;
                }
                var result2 = await Http.PostAsJsonAsync("/api/Sets/PostSets", sets);
                if (result2.IsSuccessStatusCode)
                {
                    NavManager.NavigateTo($"/Days/Edit/{DayId}");
                }
                else
                {
                    NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error", Detail = result2.ReasonPhrase, Duration = 20000 });
                }
            }
            else
            {
                NavManager.NavigateTo($"/Days/Edit/{DayId}");
            }
        }
        else
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error", Detail = result.ReasonPhrase, Duration = 20000 });
        }
    }
}
