@inherits LayoutComponentBase

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@
<RadzenDialog />


<RadzenLayout Style="height: 100vh; grid-template-columns: 1fr auto; grid-template-areas: 'rz-header rz-header' 'rz-body rz-sidebar'">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" AlignItems="AlignItems.Center" Gap="1rem">
            <LoginDisplay />
            @*<RadzenSidebarToggle Click="@(() => sidebar4Expanded = !sidebar4Expanded)" Class="rz-m-0" />*@
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar >
        <RadzenPanelMenu>
            <RadzenNav Href="" Text="Dashboard" Icon="dashboard" />
            <RadzenNav Href="Programs" Text="Programs" Icon="assignment" />
            <RadzenNav Href="PartDefinitions" Text="Part Definitions" Icon="donut_small" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody >
        @Body
    </RadzenBody>

</RadzenLayout>

@code {
    bool sidebarExpanded = true;


}